//-
//- (c) Stephen A. Butterfill 2014
//-

- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- jQuery
- scripts.add(["/vendor/jquery.min.js"])
- scripts.add(["/vendor/jquery-svgfix.js"])

//- Bootstrap
- scripts.add(["/vendor/twitter-bootstrap/js/bootstrap.min.js"])
- styles.add(["/vendor/twitter-bootstrap/css/bootstrap2.min.css","/vendor/twitter-bootstrap/css/bootstrap-responsive.min.css"])

//- Other Scripts
- scripts.add(["/vendor/log.js","/vendor/modernizr.min.js"])

//- User
- scripts.add(["/scripts/script.js"])
- styles.add(["/styles/frontpage.css"])

doctype 5
html(lang="en")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    //- Icons
        link(rel="shortcut icon", href="ico/favicon.ico")
        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="ico/apple-touch-icon-144-precomposed.png")
        link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
        link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    // - lato font
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,900,400italic',rel='stylesheet',type='text/css')

    // Styles
    != styles.toHTML()

  body(style="padding-top: 15px;")

    .container
      section#content.content!= content
      hr
      footer(style="padding-bottom: 30px;")
        div(style="font-style:italic; font-size: 12px") Last updated at #{site.date}

    // Scripts
    != scripts.toHTML()
